---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import MapSection from "../components/MapSection.astro";
import ChatSection from "../components/ChatSection.astro";
import GallerySection from "../components/GallerySection.astro";
import MusicSection from "../components/MusicSection.astro";
import PhotoCarousel from "../components/PhotoCarousel.astro";
import OutroSection from "../components/OutroSection.astro";
import NavDots from "../components/NavDots.astro";
import TheProposal from "../components/TheProposal.astro";
---

<Layout title="Nuestra Historia | A Cinematic Journey">
    <div class="scrolly-container">
        <HeroSection />

        <MapSection />
        <ChatSection />
        <GallerySection />
        <TheProposal />
        <PhotoCarousel />
        <!-- <MusicSection /> -->
        <!-- <OutroSection /> -->
    </div>
    <NavDots />
</Layout>
