---
---
<div class="fixed right-8 top-1/2 -translate-y-1/2 z-50 flex flex-col gap-4 hidden md:flex">
    <div class="w-2 h-2 rounded-full bg-coffee"></div>
    <div class="w-2 h-2 rounded-full bg-coffee/20 hover:bg-coffee transition-colors cursor-pointer"></div>
    <div class="w-2 h-2 rounded-full bg-coffee/20 hover:bg-coffee transition-colors cursor-pointer"></div>
    <div class="w-2 h-2 rounded-full bg-coffee/20 hover:bg-coffee transition-colors cursor-pointer"></div>
    <div class="w-2 h-2 rounded-full bg-coffee/20 hover:bg-coffee transition-colors cursor-pointer"></div>
</div>